body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #2699fb;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1rem;
  color: #2699fb;
}

.center {
  display: flex;
  justify-content: center;
}

span.author a {
  text-decoration: none;
  color: rgb(250, 228, 34);
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.5s;
}
.author {
  margin-left: auto;
}

span.author a:hover {
  color: white;
}

span.crossedElement { 
    text-decoration: line-through;
}

span.nonCrossed{
    text-decoration: none;
}